<h1>Notification Settings</h1>
<form action="/profile/notifications" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div>
    <label>
      <input type="checkbox" name="loginAlerts" <%= user.emailPreferences.loginAlerts ? 'checked' : '' %>>
      Login Alerts
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="withdrawalAlerts" <%= user.emailPreferences.withdrawalAlerts ? 'checked' : '' %>>
      Withdrawal Alerts
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="transferAlerts" <%= user.emailPreferences.transferAlerts ? 'checked' : '' %>>
      Transfer Alerts
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="verificationEmails" <%= user.emailPreferences.verificationEmails ? 'checked' : '' %>>
      Verification Emails
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="marketingEmails" <%= user.emailPreferences.marketingEmails ? 'checked' : '' %>>
      Marketing Emails
    </label>
  </div>
  <button type="submit">Save Preferences</button>
</form>
<p><a href="/profile">Back to Profile</a></p>
